{% load staticfiles %}
<meta charset='utf-8' />
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <script type="text/javascript" src="{% static "fullcalendar/lib/jquery.min.js" %}"></script>
		<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
		<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-theme.min.css" %}">
		<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
		{% block scriptjson %} {% endblock %}
	</head>
	{% autoescape off %}
	<body>
	<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="{% url 'inicio' %}">{% block title %}{% endblock %}</a>
					<a class="navbar-brand" href="{% url 'grafico' %}">{% block menu1 %}{% endblock %}</a>
					<a class="navbar-brand" href="{% url 'diario' %}">{% block menu2 %}{% endblock %}</a>
					<a class="navbar-brand" href="{% url 'resumen' %}">{% block menu3 %}{% endblock %}</a>
					<a class="navbar-brand" href="{% url 'resumenp' %}">Resumen Productores</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a class="navbar-brand" href="#">{% block adminurl %}{% endblock %}</a>
						</li>
					</ul>
				</div>
				<div class="collapse navbar-collapse" >
					<a class="navbar-right" href="{% url 'logingeneral' %}">Salir</a>
				</div>
			</div>
			</nav>
			<div class="panel panel-default">
				<div class="panel-body">
					{% block main %}
					{% endblock %}
				</div>
			</div>
	</body>
	{% endautoescape %}
</html>