{% extends "general/base.html" %}
{% load staticfiles %}
{% block title %}{{ GRAPPELLI_ADMIN_TITLE }}{% endblock %}
{% block menu1 %}Gráfico{% endblock %}
{% block adminurl %}<a href='{% url 'admin:index' %}'>Administrativo</a>{% endblock %}
{% block main %}
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-8">
		<h3>Recepciones recientes</h3>
		<table class="table table-striped table-condensed">
			{% for recepcion in latest_recepcion_list %}
			<tr>
				<td>{{ recepcion.ubicacion }} </td>
				<td>{{ recepcion.proveedor.nombre }} </td>
				<td> {{ recepcion.fecha }} </td>
				<td style="text-align: right"> {{ recepcion.neto }} </td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<div class="col-md-1"></div>
</div>
{% endblock %}