
{% load staticfiles %}

<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-theme.min.css" %}">
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-8">
		{% for recepciones in categorias %}
		<table class="table table-striped table-condensed">
		{{ recepciones.name }}
			{% for recepcion in recepciones.data %}
			<tr>
				<td>{{ recepcion.dia }} </td>
				<td>{{ recepcion.proveedor }} </td>
				<td style="text-align: right"> {{ recepcion.neto }} </td>
			</tr>
				{% for recepdet in recepcion.detalle %}
				<tr>
					<td>{{ recepdet.fecha }} </td>
					<td>{{ recepdet.id }} </td>
					<td style="text-align: right"> {{ recepdet.neto }} </td>
				</tr>
				{% endfor %}
			{% endfor %}
			<tr>
				<td colspan="2"  style="text-align: right">Total </td>
				<td style="text-align: right"> {{ recepciones.sumtotal }} </td>
			</tr>
		</table>
		{% endfor %}
	</div>
	<div class="col-md-1"></div>
</div>
