
{% load staticfiles %}

<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-theme.min.css" %}">
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-8">
		{% for recepciones in categorias %}
		<h2>{{ recepciones.name }}</h2>
		<table class="table table-striped table-condensed">
			{% for recepcion in recepciones.data %}
			<thead>
			<tr>
				<th colspan="4">{{ recepcion.proveedor }} </th>
				<th style="text-align: right"> {{ recepcion.neto }} </th>
			</tr>
			</thead>
			<tbody>
				{% for recepdet in recepcion.detalle %}
				<tr>
					<td> &nbsp; </td>
					<td>{{ recepdet.d }} </td>
					<td>{{ recepdet.id }} </td>
					<td>{{ recepdet.conductor }} ({{ recepdet.placa }})</td>
					<td style="text-align: right"> {{ recepdet.neto }} </td>
				</tr>
				{% endfor %}
				<tr>
				<td  colspan="5"> &nbsp; </td>
				</tr>
			</tbody>
			{% endfor %}
			<tr>
				<td> &nbsp; </td>
				<td colspan="3"  style="text-align: right">Total </td>
				<td style="text-align: right"> {{ recepciones.sumtotal }} </td>
			</tr>
		</table>
		{% endfor %}
	</div>
	<div class="col-md-1"></div>
</div>
